{% extends "base.html" %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-3 col-xl-2 border-end">
            {% if endpoints %}
                <div class="list-group">
                {% for endpoint in endpoints %}
                    <a href="/projects/{{ project.id }}/endpoint/{{ endpoint.id }}"
                        class="list-group-item list-group-item-action position-relative">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ endpoint.name }}</div>
                            <small class="text-secondary text-truncate d-block">{{ endpoint.url }}</small>
                        </div>
                        <small class="badge bg-secondary rounded-pill position-absolute top-0 end-0 m-2">{{ endpoint.method.value }}</small> <!-- color badge depends on endpoint.method.value-->
                    </a>
                {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-light" role="alert">
                    No endpoints yeat...
                </div>
            {% endif %}
        </div>
        <div class="col-lg-9 col-xl-10">
            <div class="container-fluid">
                Endpoint

            </div>
        </div>
    </div>
</div>
{% endblock %}