<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">API Testing Tool</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <div>
                {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <figure class="d-block m-0" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="rounded" src="{{ current_user.profile_pic }}" alt="{{ current_user.name }}"
                            style="width: 2rem; height: 2rem;">
                    </figure>
                    <ul class="dropdown-menu  dropdown-menu-end">
                        <li>
                            <a href="/user/logout" class="dropdown-item">
                                Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <a href="/user/login" class="btn btn-outline-secondary btn-sm">
                    Login with <i class="fa fa-google" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>