<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link" aria-current="page" href="#">Home</a>
                </li>
            </ul>

            <div class="d-flex" *ngIf="(profile$|async) as profile">
                <div class="dropdown">
                    <button class="btn p-0 m-0 border-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ profile.profile_pic }}" class="rounded-circle" alt="" style="width: 2rem; height: 2rem;">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/api/v1/auth/logout">logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>